.Chrowety{
  position: fixed !important;
  top:5px;
  right:5px;
  z-index:10000001;
  width:375px;
  padding:5px;
  overflow:hidden;
}
.Chrowety *{
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  outline:none;
  margin:0;
  padding:0;
}

.Chrowety a:link,
.Chrowety a:active,
.Chrowety a:visited{
  text-decoration:none;
  cursor:pointer;
  color:#888888
}
.Chrowety a.url,
.Chrowety a.user{
  color:#3399FF;
}
.Chrowety a:hover{
  text-decoration:underline;
  -webkit-text-stroke: 0.01em black;
}
.Chrowety .close,
.Chrowety .alerts{
    cursor:pointer;
    background-color:#ffffff;
    -webkit-box-shadow: 0px 0px 9px #aaa;
    border-radius:10px;
    border:1px solid #aaa;
    color:#888;
    font-size:10pt;
    padding:5px;
    width:10px;
    height:10px;
    line-height:10px;
    vertical-align:middle;
    margin-bottom:5px;
    margin-top:4px;
    margin-right:4px;
    font-weight: bold;
    font-family: Arial, "Arial Narrow", "Arial Black";
    opacity:.6;
}
.Chrowety .alerts{
    cursor:default;
    background-color:#ffffff;
    -webkit-box-shadow: 0px 0px 9px #aaa;
    border-radius:10px;
    border:none;
    opacity:1.0;
    width:auto;
    height:16px;
    line-height:16px;
    vertical-align:middle;
    padding-top:5px;
    padding-right:8px;
    font-weight: normal;
}
.Chrowety .alerts img{
    padding-top:-2px;
    float:left;
}


.Chrowety .close:hover,
.Chrowety .alerts:hover{
  opacity:1.0;
}
.Chrowety .bold{
  font-weight:bold;
}
.Chrowety a.usuario{
  color:#004993;
}
.Chrowety a.creator{
  color:#0A1807;
}
.Chrowety a.tag{
  color:#77BBFF;
}
.Chrowety img{border:none}
.Chrowety textarea{
  border:none;
  overflow:hidden;
}
.Chrowety textarea[disabled="disabled"]{
  opacity:.3;
}
.Chrowety .photo{
  margin-right:5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #888;
}
.Chrowety .photo2{
  -webkit-box-reflect:below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));
}
.Chrowety .twets button{
  border-radius: 3px;
  display:inline-block;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#DDD));
  height: 1.85em;
  border: 1px solid #bbb;
  font-size: 8pt;
  color:#555;
  padding: 0px 5px;
  cursor:pointer;
  -webkit-appearance:button;
}

.Chrowety button:hover{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
  border-color:#aaa;
}
.Chrowety button:active,
.Chrowety button[active="true"]{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#fff));
  color:#555;
  cursor:default;
}
.Chrowety button[disabled="disabled"]{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#fff));
  color:#bbb;
  opacity:.5;
  cursor:default;
}
.Chrowety button[disabled="disabled"]:hover{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#fff));
  border-color:#bbb;
}
.Chrowety{
  padding-right:5px;
}
.Chrowety div{
  text-align: left;
}
.Chrowety .new_twets,
.Chrowety .show_more,
.Chrowety .no_more{
  text-align: center;
}
.Chrowety .twet,
.Chrowety .reply{
  background-color:#ffffff;
  -webkit-box-shadow: 0px 0px 9px #aaa;
  border-radius:10px;
  padding:15px 10px 0 10px;
  -webkit-transition: opacity 350ms linear;
}
.Chrowety .read{
  border-left:2px solid transparent;
}
.Chrowety .unread{
  border-left:2px solid -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#fff));
}
.Chrowety .read:hover{
  border-left:2px solid #eee;
}
.Chrowety .reply{
  height:123px;
  max-height:110px;
}
.Chrowety .twets .dm{

}
.Chrowety .dm_title{
  height:5px;
}
.Chrowety .dm_title .dm_text{
  font-size: 11pt;
  font-weight: bold;
  color:#ccc;
}
.Chrowety .dm_title .dm_to{
}
.Chrowety .dm_title .dm_user{
  color: #339900
}

.Chrowety .twet .opts,
.Chrowety .twet .opts2{
  display:none;
}
.Chrowety .twet:hover .opts{
  display:block;
}
.Chrowety .twet:hover .opts2{
  display:inline;
}
.Chrowety .twet .photo{
  float:left;
  margin-right:5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px #888;
}
.Chrowety .twet .text{
  margin-top:-5px;
  min-height:50px;
  /*height:50px;*/
  display:block;
}
.Chrowety .reply{
  margin:5px 0 20px 50px;
}
.Chrowety .reply textarea{
  border-left:1px solid #aaa;
  margin-top:-5px;
  resize: none;
  width:100%;
  height:55px;
}
.Chrowety .reply textarea{
  height:55px;
}

.Chrowety .reply .reply_left{
  float:right;
  opacity:.3;
  cursor:default;
  font-weight: bold;
  margin-right:35px;
}
.Chrowety .texwt{
  width:325px;
  display:block;
  line-height:15px;
  /*text-shadow: 1px 1px 1px #ccc;*/
  color: #000000
}
.Chrowety .r{
  opacity: 0;
  -webkit-transition: opacity 350ms linear;
  width:300px;
  text-indent:-999999px;
  display:block;
  position:relative;
  bottom:3px;
  cursor:pointer;
}
.Chrowety .r:hover{
  opacity: 1;
}

/* INCIO ICONS */
.Chrowety .cadeado{
  background:transparent url('../img/sprite-icons.png') -240px -16px;
  width:8px;
  height:10px;
  text-indent:-999px;
  display:inline-block;
}
.Chrowety .lixo{
  background:transparent url('../img/sprite-icons.png') -112px 0;
  width:15px;
  height:15px;
  text-indent:-99999px;
  display:inline-block;
}
.Chrowety .lixo:hover{
  background-position:-128px 0;
}
.Chrowety .rt{
  background:transparent url('../img/sprite-icons.png') -177px 0;
  width:15px;
  height:15px;
  text-indent:-99999px;
  display:inline-block;
}
.Chrowety .rt:hover{
  background-position:-192px 0;
}
.Chrowety .star{
  background:transparent url('../img/sprite-icons.png') -32px 0;
  width:15px;
  height:15px;
  text-indent:-99999px;
  display:inline-block;
}
.Chrowety .star:hover{
  background-position:-48px 0;
}
.Chrowety .star[fav="true"]{
  background-position:-64px 0;
}

.Chrowety .rt,
.Chrowety .rts{
  background:transparent url('../img/sprite-icons.png') -177px 0;
  width:15px;
  height:15px;
  text-indent:-999px;
  display:inline-block;
}
.Chrowety .rt:hover,
.Chrowety .rts{
  background-position:-192px 0;
}

/* FIM ICONS */
@font-face {
    font-family: 'Oceania Light';
    src: url('Oceania-Light.ttf');
}
.Chrowety .oceania{
    font-family: 'Oceania Light';
}
.Chrowety .clip{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#111), to(#fff));
  -webkit-background-clip: text;
}


.Chrowety .reflect{-webkit-box-reflect:below 0.01em -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(white));}
.Chrowety .vmiddle{vertical-align:middle}
.Chrowety .vbottom{vertical-align:bottom}
.Chrowety .txtsombra{text-shadow: 1px 1px 1px #ccc;}
.Chrowety .inblock{display:inline-block}
.Chrowety .cinza{color:#888888}
.Chrowety .vermelho{color:#ff0000}
.Chrowety .centro{text-align:center}
.Chrowety .dn{display:none}
.Chrowety .fl{float:left}
.Chrowety .fr{float:right}
.Chrowety .cb,br{clear:both}
.Chrowety .p5{font-size:5pt}
.Chrowety .p6{font-size:6pt}
.Chrowety .p7{font-size:7pt}
.Chrowety .p8{font-size:8pt}
.Chrowety .p10{font-size:10pt}
.Chrowety .p12{font-size:12pt}
.Chrowety .p13{font-size:13pt}
.Chrowety .p14{font-size:14pt}
.Chrowety .p16{font-size:16pt}
.Chrowety .p18{font-size:18pt}
.Chrowety .p20{font-size:20pt}
.Chrowety .p23{font-size:23pt}
.Chrowety .p25{font-size:25pt}
.Chrowety .p30{font-size:30pt}
.Chrowety .p40{font-size:40pt}