body{
  text-align: center;
  margin:10%;
  margin-top:5%;
}
.config{
    border-radius:10px;
    border:2px solid #ddd;
    width:600px;
    /*height:400px;*/
    margin-left:auto;
    margin-right:auto;
    padding:0;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
/*
    -webkit-box-reflect:below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.1, transparent), to(white));
*/
}
.config .tit{
    font-weight: bold;
    background-color:#eee;
    border-radius:10px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    /*padding:7px 0;*/
    height:42px;
    line-height:42px;
    vertical-align:middle;
    border-bottom:1px solid #aaa;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(white));
    opacity:.8;
}
.config .tit .titulo{
    vertical-align:bottom;
    border-radius:10px;
    padding-right:10px;
    margin-right:10px;
    border-right:1px solid #aaa;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#fff));
}
.config .tit .titulo .icon{
    padding-top:3px;
    float:left;
}
.config .con{
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    /*height:350px;*/
    overflow:auto;
}
.config .con label{
  padding:5px;
  padding-right:0;
  display:inline-block;
  border-radius:7px;
  border:1px solid #aaa;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#fff));
  text-align: left;
  height:15px;
}
.config .con label span{
  padding:5px;
  height:15px;
  border-radius:7px;
  border:1px solid #aaa;
  border-right:none;
  background: white;
}
.config .con label span input{
  border:none;
  border-radius:7px;
  background:transparent;
}
.config .con label select{
  /*-webkit-appearance:listbox;*/
  margin-top:-10px;
  height:27px;
  cursor:pointer;
  border-radius:7px;
  border:1px solid #aaa;
  border-right:none;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
}
.config .con label input[type="text"]{
  margin-top:-10px; 
  height:25px;
  border-radius:7px;
  border:1px solid #aaa;
  border-right:none;
  padding-left:5px;
  background: transparent;
}


.config .con label span select option{
  background-color: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
  -webkit-appearance:listitem;
}

.config .con input[type="checkbox"]{
  -webkit-appearance:checkbox;
}
.config .con input[type="radio"]{
  -webkit-appearance:radio;
}

.config .con .section{
  width:500px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
  padding:10px;
  border-radius:10px;
  border:1px solid #aaa;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#fff));
  text-align: left;
}
.config .con .section legend{
  text-align:left;
  border-radius:10px;
  padding:5px;
  padding-top:7px;
  border:1px solid #aaa;
  cursor:pointer;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#f4f4f4));
}
.config .con .section .stit{
  width:80px;
  display:inline-block;
}